* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
}

:root {
	--mainColorLight: #83BD75;
	--mainColor: #4E944F;
	--secondaryColor: #EAE509;
	--textColor: #000;
}
.landing {
  width: 100%; height: 100%; position: relative; background: white;
}
.landing img { width: 1321px; height: 794px; left: 59px; top: 141px; position: absolute; border-radius: 8px; border: 1px #202B54 solid;}
.landing-content h1{width: 1109.68px; left: 166.05px; top: 344px; position: absolute; text-align: center; color: white; font-size: 60px; font-family: Raleway; font-weight: 700; word-wrap: break-word;}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
